@media only screen and (min-width: 1000px)
{
  nav .brand-logo {
	margin-left: 40px;
     }
}


.ellipse{

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60px;
}

nav ,.btn-floating.btn-large{margin-bottom:20px;}

.quote {
font-size: 30px;
color: #9c27b0;

font-weight: 700;
font-family: 'Lato';
}

.author{
font-size: 14px;
color: #666;
font-style: italic;
}

.welcome{
	margin-top: 100px;
}

.home{
	min-height: 600px
}